/* variabili */

/* /variabili */

/* mixins */

/* /mixins */

/* preliminari */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
}

/* preliminari */

/* generali */

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* /generali */

/* specifici */

/* header */

header img {
  display: block;
  margin: 0 auto;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  display: inline-block;
  padding: 10px;
}

header nav ul li:hover,
header nav ul li.active {
  background-color: #B3E5FC;
}

/* /header */

/* main */

/* news */

main#main-news h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin: 50px;
}

/* /news */

/* /main */

/* footer */

footer {
  padding: 20px;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

footer .wrapper ul li {
  list-style: none;
}

footer .wrapper ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

footer .wrapper h4 {
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 20px;
}

footer .wrapper h4.special-h4 a {
  color: grey;
}

footer .wrapper h4 a {
  text-decoration: none;
  color: black;
}

footer .wrapper div:first-child,
footer .wrapper div:last-child {
  padding: 20px;
}

footer .wrapper ul li {
  font-size: 0.8em;
  font-weight: 100;
}

footer .wrapper ul li a {
  color: grey;
}

footer .wrapper .special-list li {
  list-style-type: ">> ";
  margin-left: 20px;
  color: grey;
}

footer .wrapper .special-list li a {
  font-size: 0.7em;
  text-transform: uppercase;
  color: grey;
}

footer .wrapper .special-list-2 li {
  font-size: 0.6em;
  text-transform: uppercase;
  color: grey;
}

/* footer */

/* /specifici */

