/* variabili */

/* /variabili */

/* mixins */

/* /mixins */

/* preliminari */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
}

/* preliminari */

/* generali */

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* /generali */

/* specifici */

/* header */

header img {
  display: block;
  margin: 0 auto;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  display: inline-block;
  padding: 10px;
}

header nav ul li:hover {
  background-color: #B3E5FC;
}

/* /header */

/* main */

main {
  padding: 20px;
  background-color: #B3E5FC;
}

main h1 {
  margin: 10px;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 3em;
}

/* products */

.tipo-container {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.tipo-container .pasta-container {
  position: relative;
  width: calc((100% / 3) - 20px);
  float: left;
  text-align: center;
  margin: 10px;
  overflow: hidden;
}

.tipo-container .pasta-container img {
  width: 100%;
  transition: 0.5s;
}

.tipo-container .pasta-container:hover img {
  transform: scale(1.2);
  transition: 0.5s;
}

.tipo-container .pasta-container:hover .pasta-layover {
  visibility: visible;
  cursor: pointer;
  opacity: 0.5;
  z-index: 1;
}

.tipo-container .pasta-container .pasta-layover {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}

.tipo-container .pasta-container .pasta-layover p {
  width: 100%;
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
}

/* /products */

/* /main */

/* footer */

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .wrapper ul li {
  list-style: none;
}

footer .wrapper ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

/* footer */

/* /specifici */

