header {
    img {
        display: block;
        margin: 0 auto;
    }
    nav {
        @include lists;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
                li {
                display: inline-block;
                padding: 10px;
                &:hover {
                    background-color: map-get($colors,'color-2');
                }
            }
        }
    }
}
