/* home */
main#main-home {
    img {
        width: 100%;
    }
}
/* /home */

/* news */
main#main-news {
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        margin: 50px;
    }
}
/* /news */

/* products */
main#main-products {
    padding: 20px;
    background-color: map-get($colors,'color-2');
    h1 {
        margin: 10px;
        text-align: center;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 3em;
    }
}

.tipo-container {
    @include clearfix;
    width: 100%;
    .pasta-container {
        position: relative;
        width: calc((100% / 3) - 20px);
        float: left;
        text-align: center;
        margin: 10px;
        overflow: hidden;
        img {
            width: 100%;
            transition: 0.5s;
        }
        &:hover img {
            transform: scale(1.2);
            transition: 0.5s;
        }
        &:hover .pasta-layover {
            visibility: visible;
            cursor: pointer;
            opacity: 0.5;
            z-index: 1;
        }
        .pasta-layover {
            visibility: hidden;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: map-get($colors,'color-3');
            a {
                width: 100%;
                position: absolute;
                bottom: 60%;
                left: 50%;
                transform: translateX(-50%);
                text-decoration: none;
               color: map-get($colors,'color-1');
            }
        }
    }
}
/* /products */