@mixin clearfix {
    content:  '';
    display: table;
    clear: both;
}

@mixin lists {
    ul {
        li {
            list-style: none;
            a {
                text-transform: capitalize;
                text-decoration: none;
                color: map-get($colors,'color-1');
            }
        }
    }
}